# Web3Forms Access Key
# Get your free access key from https://web3forms.com
# This is required for the contact form to send emails to fit4existence@gmail.com
WEB3FORMS_ACCESS_KEY=your_web3forms_access_key_here
